<div class="rbac-page">
  <!-- Header Card -->
  <div class="page-header-card">
    <div class="title-section">
      <h3>RBAC Change Logs</h3>
      <p>Track all role, privilege and menu changes</p>
    </div>

    <div class="header-actions">
      <button class="btn btn-outline-primary">
        <i class="fa-solid fa-arrow-left"></i>
        Back
      </button>

      <button class="btn btn-success">
        <i class="fa-solid fa-file-excel"></i>
        Export Excel
      </button>

      <button class="btn btn-light">
        <i class="fa-solid fa-rotate"></i>
        Reset
      </button>
    </div>
  </div>

  <!-- Filter Card -->
  <div class="filter-card">
    <div class="filter-header">
      <i class="fa-solid fa-filter"></i>
      Search Filters
    </div>

    <div class="row g-3">
      <div class="col-md-2">
        <app-date-picker
          label="Date From"
          [(value)]="dateFrom"
          [required]="true"
          helperText="Select transaction start date"
        >
        </app-date-picker>
      </div>

      <div class="col-md-2">
        <app-date-picker
          label="Date To"
          [(value)]="dateTo"
          [required]="true"
          helperText="Select transaction start date"
        >
        </app-date-picker>
      </div>

      <div class="col-md-2">
        <label>Action</label>
        <select class="form-select">
          <option>ALL</option>
        </select>
      </div>

      <div class="col-md-2">
        <label>Category</label>
        <select class="form-select">
          <option>ALL Categories</option>
        </select>
      </div>

      <div class="col-md-2">
        <label>Role / Group</label>
        <select class="form-select">
          <option>ALL Roles</option>
        </select>
      </div>

      <div class="col-md-2">
        <label>Menu Affected</label>
        <select class="form-select">
          <option>ALL Menus</option>
        </select>
      </div>
    </div>

    <div class="mt-3 text-end">
      <button class="btn-query">
        <i class="fa-solid fa-magnifying-glass"></i>
        Run Query
      </button>
    </div>
  </div>

  <div class="table-card">
    <app-data-grid
      [records]="gridData"
      [columns]="gridColumns"
      [isServerSide]="true"
      [serverTotalPages]="totalPages"
      [serverCurrentPage]="currentPage"
      (pageChange)="onPageChange($event)"
      [tableHeight]="'500px'"
    >
    </app-data-grid>
  </div>
</div>
