<div class="user-management-flat-wrapper animate-fade-in">
  <div class="page-header-section receipt-header mt-3">
    <h4 class="receipt-title">Receipt</h4>

    <div class="receipt-actions">
      <button class="btn btn-flat-action-primary" (click)="onConfirm()">
        <i class="fa-solid fa-check me-1"></i>
        Confirm
      </button>

      <button class="btn btn-flat-action-warning" (click)="onOverPayment()">Over Payment</button>

      <button class="btn btn-flat-action-danger" (click)="onCancel()">
        <i class="fa-solid fa-xmark me-1"></i>
        Cancel
      </button>
    </div>
  </div>

  <div class="main-scrollable-content-fluid p-4">
    <form
      id="receiptSystemForm"
      #userForm="ngForm"
      (ngSubmit)="onSaveUser(userForm)"
      autocomplete="off"
      class="mb-4"
    >
      <div class="receipt-form-card-head mb-3">
        <div class="row g-2">
          <div class="col-12">
            <div class="d-flex align-items-center gap-4 flex-wrap">
              <span class="doc-label"> Select Doc Systems: </span>

              <label class="doc-check">
                <input
                  name="docInward"
                  type="checkbox"
                  [(ngModel)]="docInward"
                  class="form-check-input custom-argon-check"
                />
                <span>DocSys (Inward)</span>
              </label>

              <label class="doc-check">
                <input
                  name="docOutward"
                  type="checkbox"
                  [(ngModel)]="docOutward"
                  class="form-check-input custom-argon-check"
                />
                <span>Glossys (Outward)</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="receipt-form-card">
        <div class="row g-2">
          <div class="col-12 col-sm-6 col-md-12">
            <h6>Receipt Information</h6>
          </div>
          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Payment Type:</label>
            <app-combobox
              displayExpr="name"
              valueExpr="id"
              name="paymentMode"
              [(value)]="formData.paymentMode"
              [data]="paymentTypes"
              [onChange]="onPaymentChange.bind(this)"
            >
            </app-combobox>
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Cheque / TT No:</label>
            <input
              type="text"
              name="chequeNo"
              [(ngModel)]="formData.chequeNo"
              #chequeNo="ngModel"
              class="form-control form-control-sm custom-flat-input"
              placeholder="Cheque / TT No"
              maxlength="15"
            />
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <app-date-picker
              label="Date"
              [(value)]="formData.date"
              helperText="Select transaction start date"
            >
            </app-date-picker>
          </div>

          <div class="col-12 col-sm-6 col-md-1">
            <label class="form-label fw-bold custom-flat-label mb-2"> Currency: </label>

            <div class="d-flex align-items-center gap-3 mt-1">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="currency"
                  id="sgd"
                  value="SGD"
                  [(ngModel)]="formData.currency"
                />
                <label class="form-check-label" for="sgd">SGD</label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="currency"
                  id="usd"
                  value="USD"
                  [(ngModel)]="formData.currency"
                />
                <label class="form-check-label" for="usd">USD</label>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Account:</label>
            <app-combobox
              name="account"
              displayExpr="name"
              valueExpr="id"
              [(value)]="formData.account"
              [data]="[{ id: 1, name: 'Cash' }]"
            >
            </app-combobox>
          </div>
          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Amount:</label>
            <input
              type="text"
              name="amount"
              class="form-control form-control-sm custom-flat-input"
              placeholder="Amount"
              maxlength="15"
            />
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Bank Charges:</label>
            <input
              type="text"
              name="bankCharges"
              class="form-control form-control-sm custom-flat-input"
              placeholder="Bank Charges"
              maxlength="15"
            />
          </div>
        </div>
      </div>
    </form>

    <div class="receipt-form-card mb-3">
      <div class="row g-2">
        <div class="col-12">
          <h6>Search By</h6>
        </div>

        <!-- Invoice No -->
        <div class="col-md-2">
          <label class="form-label fw-bold custom-flat-label"> Invoice No: </label>

          <input
            type="text"
            name="invoiceNo"
            class="form-control form-control-sm custom-flat-input"
            placeholder="Invoice No"
          />
        </div>

        <!-- BL No -->
        <div class="col-md-2">
          <label class="form-label fw-bold custom-flat-label"> BL No: </label>

          <input
            type="text"
            name="blNo"
            class="form-control form-control-sm custom-flat-input"
            placeholder="BL No"
          />
        </div>

        <!-- Vessel Name -->
        <div class="col-md-2">
          <label class="form-label fw-bold custom-flat-label"> Vessel Name: </label>

          <app-combobox
            name="vesselId"
            displayExpr="vessel_name"
            valueExpr="vessel_id"
            [(value)]="searchModel.vesselId"
            [data]="vesselList"
          >
          </app-combobox>
        </div>

        <!-- Customer Name -->
        <div class="col-md-2">
          <label class="form-label fw-bold custom-flat-label"> Customer Name: </label>

          <input
            type="text"
            name="customerName"
            class="form-control form-control-sm custom-flat-input"
            placeholder="Customer Name"
          />
        </div>

        <!-- Voyage No -->
        <div class="col-md-2">
          <label class="form-label fw-bold custom-flat-label"> Voyage No: </label>

          <app-combobox
            name="voyageId"
            displayExpr="voyage_no"
            valueExpr="voyage_id"
            [(value)]="searchModel.voyageId"
            [data]="voyageList"
          >
          </app-combobox>
        </div>

        <div class="col-md-2 d-flex flex-column align-items-center gap-2">
          <button class="btn btn-flat-action-primary">Check Outstanding</button>
          <button class="btn btn-flat-action-warning">Search</button>
        </div>
      </div>
    </div>

    <app-data-grid
      [records]="gridData"
      [columns]="gridColumns"
      [showCheckbox]="true"
      [showAction]="false"
      [isServerSide]="true"
      [serverTotalPages]="totalPages"
      [serverCurrentPage]="currentPage"
      (pageChange)="changePage($event)"
      (selectionChange)="onRowSelect($event)"
      [tableHeight]="'535px'"
    >
    </app-data-grid>

    <div class="receipt-summary-card mt-3">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="summary-row">
            <label>Paid Invoice Total :</label>
            <input
              type="text"
              class="form-control form-control-sm summary-input"
              [(ngModel)]="summary.paidInvoiceTotal"
              readonly
            />
          </div>

          <div class="summary-row">
            <label>Receipt Total :</label>
            <input
              type="text"
              class="form-control form-control-sm summary-input"
              [(ngModel)]="summary.receiptTotal"
              readonly
            />
          </div>

          <div class="summary-row">
            <label>Balance :</label>
            <input
              type="text"
              class="form-control form-control-sm summary-input"
              [(ngModel)]="summary.balance"
              readonly
            />
          </div>
        </div>

        <div class="col-md-7">
          <div class="d-flex justify-content-end align-items-center gap-3">
            <label class="doc-check mb-0">
              <input type="checkbox" [(ngModel)]="showReferenceType" name="showReferenceType" />

              <span>Show Reference Type</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
