<div class="user-management-flat-wrapper animate-fade-in">
  <div class="page-header-section receipt-header mt-3 mb-0">
    <h4 class="receipt-title">Receipt</h4>

    <div class="receipt-actions">
      <button class="btn btn-flat-action-danger" (click)="onCancel()">
        <i class="fa-solid fa-xmark me-1"></i>
        Cancel
      </button>
    </div>
  </div>

  <div class="main-scrollable-content-fluid">
    <form
      id="receiptSystemForm"
      #userForm="ngForm"
      (ngSubmit)="submitReceipt(userForm)"
      autocomplete="off"
      class="mb-4"
    >
      <!-- <div class="receipt-form-card-head mb-3">
        <div class="row g-2">
          <div class="col-12">
            <div class="d-flex align-items-center gap-4 flex-wrap">
              <span class="doc-label"> Select Doc Systems: </span>

              <label class="doc-check">
                <input
                  name="docInward"
                  type="checkbox"
                  [(ngModel)]="docInward"
                  class="form-check-input custom-argon-check"
                />
                <span>DocSys (Inward)</span>
              </label>

              <label class="doc-check">
                <input
                  name="docOutward"
                  type="checkbox"
                  [(ngModel)]="docOutward"
                  class="form-check-input custom-argon-check"
                />
                <span>Glossys (Outward)</span>
              </label>
            </div>
          </div>
        </div>
      </div> -->

      <!-- receipt information -->
      <div class="receipt-form-card">
        <div class="row g-2">
          <div class="col-12 col-sm-6 col-md-12">
            <h6>Receipt Information</h6>
          </div>
          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Payment Type:</label>
            <app-combobox
              displayExpr="name"
              valueExpr="id"
              name="paymentMode"
              [(value)]="formData.paymentMode"
              (valueChange)="onPaymentValueChange($event)"
              [data]="paymentTypes"
              [onChange]="onPaymentChange.bind(this)"
            >
            </app-combobox>
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Cheque / TT No:</label>
            <input
              type="text"
              name="chequeNo"
              [(ngModel)]="formData.chequeNo"
              [readonly]="selectedPayment?.name === 'Cash'"
              #chequeNo="ngModel"
              class="form-control form-control-sm custom-flat-input"
              placeholder="Cheque / TT No"
              maxlength="15"
            />
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <app-date-picker
              label="Date"
              [(value)]="formData.receiptDate"
              helperText="Select receipt date"
            >
            </app-date-picker>
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Account:</label>
            <app-combobox
              name="account"
              displayExpr="name"
              valueExpr="id"
              [(value)]="formData.account"
              [data]="accounts"
            >
            </app-combobox>
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5"> Currency: </label>

            <div class="d-flex bg-white border rounded-3 p-1 shadow-sm">
              <div class="w-50">
                <input
                  type="radio"
                  class="btn-check"
                  name="currency"
                  id="sgd"
                  value="SGD"
                  [(ngModel)]="formData.currency"
                  autocomplete="off"
                />
                <label
                  class="btn btn-sm border-0 w-100 fw-semibold rounded-2"
                  style="
                    transition:
                      background-color 0.3s ease-in-out,
                      color 0.3s ease-in-out;
                  "
                  [ngStyle]="
                    formData.currency === 'SGD'
                      ? { 'background-color': 'var(--app-primary)', color: '#ffffff' }
                      : { 'background-color': 'transparent', color: '#6c757d' }
                  "
                  for="sgd"
                >
                  SGD
                </label>
              </div>

              <div class="w-50">
                <input
                  type="radio"
                  class="btn-check"
                  name="currency"
                  id="usd"
                  value="USD"
                  [(ngModel)]="formData.currency"
                  autocomplete="off"
                />
                <label
                  class="btn btn-sm border-0 w-100 fw-semibold rounded-2"
                  style="
                    transition:
                      background-color 0.3s ease-in-out,
                      color 0.3s ease-in-out;
                  "
                  [ngStyle]="
                    formData.currency === 'USD'
                      ? { 'background-color': 'var(--app-primary)', color: '#ffffff' }
                      : { 'background-color': 'transparent', color: '#6c757d' }
                  "
                  for="usd"
                >
                  USD
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Amount:</label>
            <input
              type="text"
              name="amount"
              [(ngModel)]="formData.amount"
              (ngModelChange)="calculateSummary()"
              (blur)="formatMoney('amount')"
              class="form-control form-control-sm custom-flat-input"
              placeholder="Amount"
              maxlength="15"
            />
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label fw-bold custom-flat-label mb-1.5">Bank Charges:</label>
            <input
              type="text"
              name="bankCharges"
              [(ngModel)]="formData.bankCharges"
              (ngModelChange)="calculateSummary()"
              (blur)="formatMoney('bankCharges')"
              class="form-control form-control-sm custom-flat-input"
              placeholder="Bank Charges"
              maxlength="15"
            />
          </div>
        </div>
      </div>
    </form>

    <!-- retrieve information -->
    <div class="receipt-form-card mb-3">
      <div class="row g-2">
        <div class="col-12">
          <h6>Search By</h6>
        </div>

        <!-- Invoice No -->
        <div class="col-md-2 p-2">
          <label class="form-label fw-bold custom-flat-label"> Invoice No: </label>
          <input
            type="text"
            name="invoiceNo"
            [(ngModel)]="searchModel.invoiceNo"
            class="form-control form-control-sm custom-flat-input"
            placeholder="Invoice No"
          />
        </div>

        <div class="col-md-2 p-2">
          <label class="form-label fw-bold custom-flat-label"> BL No: </label>
          <input
            type="text"
            name="blNo"
            [(ngModel)]="searchModel.blNo"
            class="form-control form-control-sm custom-flat-input"
            placeholder="BL No"
          />
        </div>

        <div class="col-md-2 p-2">
          <label class="form-label fw-bold custom-flat-label"> Vessel Name: </label>
          <app-combobox
            [url]="'api/getvessel'"
            [responsePath]="''"
            displayExpr="vesselName"
            valueExpr="vesselCode"
            (selectionChange)="onVesselChange($event)"
            [(value)]="searchModel.vesselId"
            apiMethod="POST"
          >
          </app-combobox>
        </div>

        <div class="col-md-2 p-2">
          <label class="form-label fw-bold custom-flat-label"> Customer Name: </label>
          <input
            type="text"
            name="customerName"
            [(ngModel)]="searchModel.customerName"
            class="form-control form-control-sm custom-flat-input"
            placeholder="Customer Name"
          />
        </div>

        <div class="col-md-2 p-2">
          <label class="form-label fw-bold custom-flat-label"> Voyage No: </label>
          <app-combobox
            [url]="'api/getvoyage'"
            [responsePath]="''"
            displayExpr="voyageNo"
            valueExpr="id"
            [(value)]="searchModel.voyageId"
            apiMethod="POST"
            [requestBody]="vesselValue || {}"
            [reload]="true"
            (selectionChange)="onVoyageChange($event)"
          >
          </app-combobox>
        </div>
        <div class="col-md-2 p-2">
          <div class="d-flex justify-content-center mb-3">
            <button
              type="button"
              class="btn shadow-sm w-100 fw-semibold py-1 border-0"
              style="background-color: #2d6582; color: white"
              [disabled]="isCheckOutstandingDisabled"
              (click)="onCheckOutstanding()"
            >
              <i class="bi bi-wallet2 me-2"></i> Check Outstanding
            </button>
          </div>

          <div
            class="btn-group d-flex shadow-sm overflow-hidden w-100"
            role="group"
            aria-label="Search and Clear Actions"
          >
            <button
              type="button"
              class="btn btn-warning bg-gradient fw-semibold border-0 py-1 text-dark"
              (click)="onSearchClick()"
            >
              <i class="bi bi-search me-1"></i> Search
            </button>
            <button
              type="button"
              class="btn btn-danger bg-gradient fw-semibold border-0 py-1"
              (click)="onClearClick()"
            >
              <i class="bi bi-arrow-clockwise" [class.spin-icon]="isClearing"></i> Clear
            </button>
          </div>
        </div>
      </div>
    </div>

    <app-data-grid
      [records]="gridData"
      [columns]="gridColumns"
      [showCheckbox]="true"
      [showAction]="false"
      [isServerSide]="true"
      [serverTotalPages]="totalPages"
      [serverCurrentPage]="currentPage"
      (pageChange)="changePage($event)"
      (selectionChange)="onRowSelect($event)"
      [tableHeight]="'535px'"
    >
    </app-data-grid>

    <div class="receipt-summary-card mt-3">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="summary-row">
            <label>Paid Invoice Total :</label>
            <input
              type="text"
              class="form-control form-control-sm summary-input"
              [(ngModel)]="summary.paidInvoiceTotal"
              readonly
            />
          </div>

          <div class="summary-row">
            <label>Receipt Total :</label>
            <input
              type="text"
              class="form-control form-control-sm summary-input"
              [(ngModel)]="summary.receiptTotal"
              readonly
            />
          </div>

          <div class="summary-row">
            <label>Balance :</label>
            <input
              type="text"
              class="form-control form-control-sm summary-input"
              [(ngModel)]="summary.balance"
              readonly
            />
          </div>
        </div>

        <div class="col-md-7">
          <div class="d-flex justify-content-end flex-column align-items-center gap-3">
            <!-- <label class="doc-check mb-0">
              <input
                type="checkbox"
                [(ngModel)]="showReferenceType"
                name="showReferenceType"
                class="form-check-input"
              />
              <span>Show Reference Type</span>
            </label> -->
            <div class="receipt-actions">
              <button
                type="button"
                class="btn btn-flat-action-primary-fill"
                [disabled]=""
                (click)="onConfirm()"
              >
                <i class="fa-solid fa-check me-1"></i>
                Confirm
              </button>
              <button
                type="button"
                class="btn btn-flat-action-warning"
                [disabled]="isOverPaymentDisabled"
                (click)="onOverPayment()"
              >
                Over Payment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Outstanding Records Modal Popup -->
<app-outstanding-modal
  [(isOpen)]="isOutstandingModalOpen"
  [customerName]="searchModel.customerName"
  [records]="outstandingRecords"
>
</app-outstanding-modal>

@if (isMessageShow) {
  <app-confirm-dialog
    name="Are you sure want to make over payment?"
    (yes)="onConfirmRequest()"
    (no)="onCancelRequest()"
  ></app-confirm-dialog>
}
