<div class="dashboard-welcome">
  <div class="welcome-banner">
    <div class="banner-content">
      <div class="company-header">
        <img src="asset/images/logo.png" alt="Glossys Logo" class="company-logo" />

        <div>
          <h1 class="company-name">Samudera Shipping Line Ltd</h1>
          <!-- <span class="company-tagline">Receipt Management Portal</span> -->
        </div>
      </div>

      <h2>Welcome to Glossys & Docsys Receipt Web Portal</h2>
      <p>Manage receipt transactions efficiently.</p>
    </div>
  </div>
</div>
