<div class="page-canvas-wrapper animate-fade-in">
  <div class="separate-card-module" style="background-color: #33708f !important">
    <div class="d-flex justify-content-between align-items-center p-4">
      <div>
        <h4 class="text-white m-0 fw-bold">User Management Change Logs</h4>
      </div>
      <div class="d-flex align-items-center gap-2">
        <button class="btn btn-flat-action-secondary py-1.5" (click)="onBack()">
          <i class="fa-solid fa-arrow-left small me-1"></i> Back to List
        </button>
        <button class="btn btn-flat-action-excel py-1.5" (click)="onExportExcel()">
          <i class="fa-solid fa-file-excel small me-1"></i> Export to Excel
        </button>
        <button class="btn btn-flat-action-secondary py-1.5" (click)="onResetFilters()">
          <i class="fa-solid fa-rotate-left small me-1"></i> Reset Filters
        </button>
      </div>
    </div>
  </div>

  <div class="row g-3 form-card g-3">
    <div class="col-12 col-md-3 col-lg-2">
      <app-date-picker
        label="Date From"
        [(value)]="formData.dateFrom"
        [required]="true"
        helperText="Select transaction start date"
      >
      </app-date-picker>
    </div>

    <div class="col-12 col-md-3 col-lg-2">
      <app-date-picker
        label="Date To"
        [(value)]="formData.dateTo"
        [required]="true"
        helperText="Select start date"
      >
      </app-date-picker>
    </div>

    <div class="col-12 col-md-3 col-lg-2">
      <app-combobox
        label="Action"
        [data]="formData.actions"
        displayExpr="name"
        valueExpr="id"
        [(value)]="formData.action"
      >
      </app-combobox>
    </div>

    <div class="col-12 col-md-3 col-lg-2">
      <app-combobox
        label="User Affected"
        [url]="'?q=/UserManagements/users/dropdown'"
        responsePath="users"
        displayExpr="fullName"
        valueExpr="userId"
        [(value)]="formData.userId"
      >
      </app-combobox>
    </div>

    <div class="col-12 col-md-3 col-lg-2">
      <app-combobox
        label="Office"
        [url]="'?q=/UserManagements/offices/dropdown'"
        responsePath="offices"
        displayExpr="officeName"
        valueExpr="officeId"
        [(value)]="formData.officeId"
      >
      </app-combobox>
    </div>

    <div class="col-12 col-md-3 col-lg-2">
      <app-combobox
        label="Location"
        [url]="'?q=/UserManagements/locations/dropdown'"
        responsePath="locations"
        displayExpr="locationName"
        valueExpr="locationId"
        [(value)]="formData.locationId"
      >
      </app-combobox>
    </div>

    <div class="col-12 text-md-end text-lg-start col-lg-12 mt-3 d-flex justify-content-end">
      <button class="btn btn-flat-action-primary px-4" (click)="onRunQuery()">
        <i class="fa-solid fa-play small me-1.5"></i> Run Query
      </button>
    </div>
  </div>

  <div class="main-container p-0">
    <div class="main-container p-0">
      <app-data-grid
        [columns]="gridColumns"
        [records]="logRecords"
        [isServerSide]="true"
        tableHeight="600px"
        (pageChange)="onPageChange($event)"
        [serverTotalPages]="totalPages"
        [serverCurrentPage]="currentPage"
      >
      </app-data-grid>
    </div>
  </div>
</div>
