<div class="rbac-page">
  <div class="page-header-card">
    <div class="title-section">
      <h3>Application Management Change log</h3>
      <!-- <p>Track all role, privilege and menu changes</p> -->
    </div>

    <div class="header-actions">
      <button class="btn btn-outline-primary" (click)="onBack()">
        <i class="fa-solid fa-arrow-left"></i>
        Back
      </button>

      <button class="btn btn-success">
        <i class="fa-solid fa-file-excel"></i>
        Export Excel
      </button>

      <button class="btn btn-light">
        <i class="fa-solid fa-rotate"></i>
        Reset
      </button>
    </div>
  </div>

  <div class="filter-card">
    <div class="filter-header">
      <i class="fa-solid fa-filter"></i>
      Search Filters
    </div>

    <div class="row g-3">
      <div class="col-md-2">
        <app-date-picker
          label="Date From"
          [(value)]="formData.dateFrom"
          [required]="true"
          helperText="Select transaction start date"
        >
        </app-date-picker>
      </div>

      <div class="col-md-2">
        <app-date-picker
          label="Date To"
          [(value)]="formData.dateTo"
          [required]="true"
          helperText="Select transaction start date"
        >
        </app-date-picker>
      </div>

      <div class="col-md-2">
        <app-combobox
          label="Action"
          [data]="formData.actions"
          displayExpr="name"
          valueExpr="id"
          [(value)]="formData.action"
        >
        </app-combobox>
      </div>

      <div class="col-md-2">
        <app-combobox
          label="Category"
          [data]="formData.category"
          displayExpr="name"
          valueExpr="id"
          [(value)]="formData.categoryValue"
        >
        </app-combobox>
      </div>

      <div class="col-md-2">
        <app-combobox
          label="Role"
          [url]="'?q=/GroupManagements/groups/dropdown'"
          responsePath="content"
          displayExpr="groupName"
          valueExpr="groupId"
          [(value)]="formData.role"
        >
        </app-combobox>
      </div>

      <div class="col-md-2">
        <app-combobox
          label="Menu"
          [url]="'?q=/GroupManagements/menus'"
          responsePath="content"
          displayExpr="menuName"
          valueExpr="menuId"
          [(value)]="formData.menu"
        >
        </app-combobox>
      </div>
    </div>

    <div class="mt-3 text-end">
      <button class="btn-query" (click)="onRunQuery()">
        <i class="fa-solid fa-magnifying-glass"></i>
        Run Query
      </button>
    </div>
  </div>

  <div class="table-card">
    <app-data-grid
      [records]="gridData"
      [columns]="gridColumns"
      [isServerSide]="true"
      [serverTotalPages]="totalPages"
      [serverCurrentPage]="currentPage"
      (pageChange)="onPageChange($event)"
      [tableHeight]="'500px'"
    >
    </app-data-grid>
  </div>
</div>
