<div class="modal-backdrop-flat">
  <div class="modal-card-flat">
    <div class="modal-header-flat">
      <span>Select Groups</span>

      <button type="button" class="modal-close-flat" (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="modal-body-flat">
      <div class="search-flat-wrapper d-flex align-items-center mb-2">
        <input
          type="text"
          placeholder="Search group..."
          class="search-flat-input py-1"
          [(ngModel)]="groupSearch"
          (input)="filterGroups()"
        />
      </div>

      <div class="table-responsive rounded-2 flat-inner-table-border table-scroll-wrapper">
        <table class="table align-middle m-0 flat-inner-table">
          <thead>
            <tr>
              <th class="text-center" style="width: 60px">Select</th>
              <th>Group Name</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let grp of filteredGroups" class="flat-inner-row">
              <td class="text-center">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]="grp.selected"
                  (change)="onGroupSelectionChange(grp)"
                />
              </td>

              <td class="fw-bold text-dark">
                {{ grp.groupName }}
              </td>
            </tr>

            <tr *ngIf="filteredGroups.length === 0">
              <td colspan="2" class="text-center p-4 text-muted small">No groups found.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <small class="meta-flat-text text-secondary">
          Showing {{ filteredGroups.length }} of {{ totalRecords }} groups
        </small>

        <div class="d-flex gap-2 align-items-center">
          <button
            class="btn btn-flat-action-secondary btn-sm"
            (click)="prevPage()"
            [disabled]="currentPage === 1"
          >
            Prev
          </button>

          <span class="pageNum"> Page {{ currentPage }} of {{ totalPages }} </span>

          <button
            class="btn btn-flat-action-secondary btn-sm compact-btn"
            (click)="nextPage()"
            [disabled]="currentPage === totalPages"
          >
            Next
          </button>
        </div>
      </div>
    </div>

    <div class="modal-footer-flat">
      <button class="btn btn-flat-action-secondary" (click)="closeModal()">Cancel</button>

      <button class="btn btn-flat-action-primary" (click)="saveGroups()">
        <i class="fa-solid fa-floppy-disk me-1"></i>
        Save Groups
      </button>
    </div>
  </div>
</div>
