<div class="user-management-flat-wrapper animate-fade-in">
  <div class="page-header-section mt-3">
    <h4 class="text-header-title m-0 fw-bold">Undo Payments</h4>
    <button class="btn btn-flat-action-primary" (click)="onCreateClick()">Undo Payments</button>
  </div>

  <div class="main-scrollable-content-fluid">
    <div class="action-toolbar">
      <div class="action-buttons-group">
        <button class="btn btn-flat-action-secondary" (click)="onPrintClick()">
          <i class="fa-solid fa-print small"></i> Print
        </button>

        <button class="btn btn-flat-action-secondary" (click)="onClickHistory()">
          <i class="fa-solid fa-history small"></i> History
        </button>
      </div>

      <div class="search-flat-wrapper">
        <input
          type="text"
          placeholder="Search..."
          class="search-flat-input"
          [(ngModel)]="searchQuery"
          (keyup.enter)="onSearch($event)"
        />
        <button type="button" class="btn-search-flat-go" (click)="onSearch()">Go</button>
      </div>
    </div>
    <!-- Data ggrid -->
    <div class="main-container mt-3">
      <app-data-grid
        [records]="receiptGrid"
        [columns]="receiptColumns"
        [showAction]="false"
        [tableHeight]="'180px'"
        [showCheckbox]="true"
        (selectionChange)="onRowSelect($event)"
      >
      </app-data-grid>
    </div>
  </div>
</div>
