<div class="form-group">
  <label *ngIf="label" class="combo-label">
    {{ label }}
    <span *ngIf="required" class="required">*</span>
  </label>

  <div class="combo-box">
    <div class="input-wrapper">
      <input
        type="text"
        [name]="name"
        class="combo-input"
        [class.input-error]="errorText"
        [(ngModel)]="searchText"
        [placeholder]="extraProp?.placeholder || 'Select'"
        [disabled]="disabled"
        (focus)="onComboBoxInteract()"
        (blur)="onBlur()"
        (ngModelChange)="onSearchInput($event)"
      />

      <i
        *ngIf="searchText && !disabled"
        class="clear-btn fa fa-times"
        (click)="clearSelection($event)"
      ></i>

      <i class="dropdown-arrow fa fa-angle-down" (click)="toggleDropdown($event)"></i>
    </div>

    <div *ngIf="isOpen" class="combo-dropdown">
      <div *ngIf="isLoading" class="combo-status-msg">Loading...</div>

      <div *ngIf="!isLoading && filteredItems.length === 0" class="combo-status-msg">
        No records found
      </div>

      <div *ngIf="!isLoading && filteredItems.length > 0">
        <div class="combo-count-header">Count: {{ filteredItems.length }}</div>

        <div
          *ngFor="let item of filteredItems; let i = index"
          class="combo-item"
          [class.active]="i === activeIndex"
          (click)="selectItem(item, $event)"
        >
          {{ codeExpr ? item[codeExpr] + ' - ' + item[displayExpr] : item[displayExpr] }}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="helperText && !errorText" class="helper-text">
    {{ helperText }}
  </div>

  <div *ngIf="errorText" class="error-text">
    <i class="fa fa-circle-exclamation me-1"></i>
    {{ errorText }}
  </div>
</div>
