<div class="user-management-flat-wrapper animate-fade-in">
  <div class="page-header-section receipt-header mt-3">
    <h4 class="text-white m-0 fw-bold">EDI to CODA</h4>
    <div class="d-flex justify-content-between gap-3">
      <button
        class="btn btn-flat-action-primary"
        (click)="onExport()"
        [disabled]="!gridData.length"
      >
        <i class="bi bi-cloud-arrow-down-fill"></i>
        Export
      </button>

      <button class="btn btn-flat-action-danger-outline" (click)="onCancel()">
        <i class="bi bi-arrow-clockwise"></i>
        Reset
      </button>
    </div>
  </div>

  <div class="main-scrollable-content-fluid p-1">
    <div class="receipt-form-card">
      <div class="row g-3 align-items-end">
        <div class="col-12">
          <h6>Transaction Date</h6>
        </div>

        <div class="col-md-3">
          <div class="date-picker-wrapper">
            <label class="form-label fw-bold custom-flat-label mb-1">From Date:</label>

            <app-date-picker
              helperText="Please select From date"
              [required]="true"
              [error]="fromDateError"
              [(value)]="fromDate"
              (valueChange)="fromDateError = false"
            >
            </app-date-picker>
          </div>
        </div>

        <div class="col-md-3">
          <div class="date-picker-wrapper">
            <label class="form-label fw-bold custom-flat-label mb-1">To Date:</label>

            <app-date-picker
              helperText="Please select To date"
              [required]="true"
              [error]="toDateError"
              [(value)]="toDate"
              (valueChange)="toDateError = false"
            >
            </app-date-picker>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <button class="btn btn-flat-action-primary-fill" (click)="retrieveInvoice()">
            Retrieve
          </button>
        </div>
      </div>
    </div>

    <div class="receipt-form-card mt-3">
      <div class="col-12">
        <div class="d-flex justify-content-end mb-2">
          <button class="btn btn-sm btn-flat-action-primary" (click)="onDownloadClick()">
            <i class="bi bi-arrow-down-square-fill"></i>
            Download
          </button>
        </div>
      </div>

      <app-data-grid
        [records]="gridData"
        [columns]="columns"
        [showAction]="false"
        [tableHeight]="'380px'"
      >
      </app-data-grid>
    </div>
  </div>
</div>
