<div class="location-modal-backdrop">
  <div class="location-modal-card">
    <div class="location-modal-header">
      <span>Select Locations</span>

      <button type="button" class="modal-close-btn" (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="location-modal-body">
      <div class="search-flat-wrapper d-flex align-items-center mb-2">
        <input
          type="text"
          placeholder="Search Location ..."
          class="search-flat-input py-1"
          [(ngModel)]="locationSearch"
          (input)="filterLocations()"
        />
      </div>

      <!-- SAME TABLE STYLE AS LOCATION CARD -->

      <div class="table-responsive rounded-2 flat-inner-table-border table-scroll-wrapper">
        <table class="table align-middle m-0 flat-inner-table">
          <thead>
            <tr>
              <th class="text-center" style="width: 60px">Select</th>
              <th>Location Name</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let loc of filteredLocations" class="flat-inner-row">
              <td class="text-center">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]="loc.selected"
                  (change)="onLocationSelectionChange(loc)"
                />
              </td>

              <td class="fw-bold text-dark">
                {{ loc.location_name }}
              </td>
            </tr>

            <tr *ngIf="filteredLocations.length === 0">
              <td colspan="2" class="text-center p-4 text-muted small">No locations found.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <div class="d-flex justify-content-between align-items-center mt-3">
        <small class="meta-flat-text text-secondary">
          Showing {{ filteredLocations.length }} of {{ totalRecords }} locations
        </small>

        <div class="d-flex gap-2 align-items-center">
          <button
            class="btn btn-flat-action-secondary btn-sm"
            (click)="prevPage()"
            [disabled]="currentPage === 1"
          >
            Prev
          </button>

          <span class="pageNum"> Page {{ currentPage }} of {{ totalPages }} </span>

          <button
            class="btn btn-flat-action-secondary btn-sm compact-btn"
            (click)="nextPage()"
            [disabled]="currentPage === totalPages"
          >
            Next
          </button>
        </div>
      </div>
    </div>

    <div class="location-modal-footer">
      <button class="btn btn-flat-action-secondary" (click)="closeModal()">Cancel</button>

      <!-- <button class="btn btn-flat-action-primary" (click)="proceedToOffice()">
        Next <i class="fa-solid fa-arrow-right me-1 mt-1"></i>
      </button> -->
      <button class="btn btn-flat-action-primary" (click)="saveLocations()">
        <i class="fa-solid fa-floppy-disk me-1"></i>
        Save Location
      </button>
    </div>
  </div>
</div>
