<div class="user-management-flat-wrapper animate-fade-in">
  <div class="main-scrollable-content-fluid">
    <div class="page-header-section">
      <h4 class="text-header-title m-0 fw-bold">Master Group Management</h4>
      <button class="btn btn-flat-action-primary" (click)="onCreateButtonClick()">
        <i class="fa-solid fa-plus small"></i> Create
      </button>
    </div>

    <div class="action-toolbar">
      <div class="action-buttons-group">
        <button class="btn btn-flat-action-secondary">
          <i class="fa-solid fa-arrows-rotate small"></i> Activate/Deactivate
        </button>

        <button
          type="button"
          class="btn btn-flat-action-secondary btn-flat-active"
          (click)="onToggleValidClick()"
        >
          <i class="fa-solid small" [ngClass]="validButtonIcon"></i>
          {{ validButtonText }}
        </button>

        <button class="btn btn-flat-action-secondary" (click)="onDownloadExcel()">
          <i class="fa-solid fa-print small"></i> Print
        </button>

        <button class="btn btn-flat-action-secondary" (click)="onClickHistory()">
          <i class="fa-solid fa-history small"></i> History
        </button>

        <button class="btn btn-flat-action-secondary">
          <i class="fa-solid fa-bars-progress small"></i> Bulk Assign Menu
        </button>
      </div>

      <div class="search-flat-wrapper">
        <input
          type="text"
          placeholder="Search..."
          class="search-flat-input"
          [(ngModel)]="searchQuery"
          (keyup.enter)="onSearch()"
        />
        <button type="button" class="btn-search-flat-go" (click)="onSearch()">Go</button>
      </div>
    </div>

    <div class="main-container">
      <app-data-grid
        [records]="gridData"
        [columns]="gridColumns"
        [showCheckbox]="true"
        [showAction]="true"
        [isServerSide]="true"
        [serverTotalPages]="totalPages"
        [serverCurrentPage]="currentPage"
        (pageChange)="onPageChange($event)"
        (selectionChange)="onGridSelectionChange($event)"
        [actionTemplate]="myCustomActionDesign"
        [tableHeight]="'500px'"
      >
      </app-data-grid>

      <ng-template #myCustomActionDesign let-row>
        <app-icon-button
          iconClass="bi bi-pencil-fill"
          colorClass="color-info"
          title="View"
          [customStyle]="{ 'margin-right': '8px' }"
          (onClick)="viewDetails(row)"
        >
        </app-icon-button>

        <app-icon-button
          [iconClass]="row.isActive ? 'bi bi-toggle-on' : 'bi bi-toggle-off'"
          [colorClass]="row.isActive ? 'color-success' : 'color-error'"
          [title]="row.isActive ? 'Deactivate' : 'Activate'"
          [customStyle]="{ 'margin-right': '8px' }"
          (onClick)="toggleStatus(row)"
        >
        </app-icon-button>
      </ng-template>
    </div>
  </div>
</div>
