<div class="summary-card-grid">
  <div *ngFor="let item of pagedItems" class="summary-card premium-shadow">
    <div class="summary-header">
      <div class="summary-user">
        <div class="summary-avatar">{{ item.transactionNo }}</div>

        <div>
          <h4 class="summary-name">
            Office :
            {{ item.officeCode }}
          </h4>

          <p class="summary-invoice">
            Created By / On :
            {{ item.createdUser }} / {{ item.createdDate }}
          </p>
        </div>
      </div>
    </div>

    <div class="summary-details">
      <div class="detail-row">
        <span class="detail-label"> Cheque / TT Ref / Reference No </span>
        <span class="detail-value"> {{ item.referenceNo }} </span>
      </div>

      <div class="detail-row">
        <span class="detail-label"> Receipt Date </span>
        <span class="detail-value">
          {{ item.transactionDate }}
        </span>
      </div>

      <div class="detail-row">
        <span class="detail-label"> Payment Mode </span>
        <span class="detail-value"> {{ item.paymentMode }} </span>
      </div>

      <div class="detail-row">
        <span class="detail-label"> Action Message</span>
        <span class="detail-value"> {{ item.actionMessage || '-' }} </span>
      </div>
    </div>

    <div class="summary-amount">
      <div>
        <span class="amount-label"> Total Amount </span>

        <div class="amount-value">
          <span>{{ item.currencyCode }}</span>
          {{ item.amount | number: '1.2-2' }}
        </div>
      </div>

      <div class="ledger-date">
        <span> Status </span>
        <strong> {{ item.availableAction }} </strong>
      </div>
    </div>

    <div class="summary-actions">
      @if (item.availableAction === 'UNDO_PAYMENT') {
        <button class="btn-remove" (click)="remove.emit(item)">Remove Invoice</button>
        <button class="btn-undo" (click)="undo.emit(item)">Undo Payment</button>
      }
    </div>
  </div>
</div>

<div *ngIf="totalPages > 1" class="pagination-wrapper">
  <div class="pagination-info">
    Page

    <strong>{{ currentPage() }}</strong>

    of

    <strong>{{ totalPages }}</strong>
  </div>

  <ul class="pagination pagination-sm mb-0 custom-brand-pagination">
    <li class="page-item" [class.disabled]="currentPage() === 1">
      <button class="page-link" (click)="changePage(currentPage() - 1)">&laquo;</button>
    </li>

    <li *ngFor="let page of pages" class="page-item" [class.active]="currentPage() === page">
      <button class="page-link" (click)="changePage(page)">
        {{ page }}
      </button>
    </li>

    <li class="page-item" [class.disabled]="currentPage() === totalPages">
      <button class="page-link" (click)="changePage(currentPage() + 1)">&raquo;</button>
    </li>
  </ul>
</div>
